@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}


body{
	background: #f5f6fa;
}

.wrapper .sidebar{
    background: #1c4c74;
    position: fixed;
    top: 50px;
    left: 0;
    width: 600px;
    padding: 10px 0;
    transition: all 0.5s ease;
    z-index: -1;
    overflow-y:auto;
    height: 660px;
}

ul .navbar{
    list-style-type: none;
    display: inline;
    margin-left: 0;
    padding-left: 0;
  }

/* Add a black background color to the top navigation */
.topnav {
    background-color: #5cace4;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
    border-bottom: 2px solid white;
    z-index: 1;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #1c4c74;
    color: white;
  }

.new_expense h4{
    text-align: center;
    color: white;
    text-decoration-line: underline;
  }
  
.welcome_text {
    position: fixed;
    left: 620px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #5cace4;
    color: black;
    text-align: left;
    font-size: 12px;
    border-top: 2px solid white;
  }

img#engine {
        border-radius: 30px;
        position: fixed;
        left: 720px;
        top: 150px;
  }

img#nebula {
    border-radius: 30px;
    position: fixed;
    left: 1100px;
    top: 150px;
}

div.stats, div.addexpend, div.allreimb, div.cancel {
    width: 1px;
    height: 1px;
}

h2#stats{
    position: fixed;
    left: 1100px;
    top: 320px;
    text-align: center;
    color: white;
    background-color: #1c4c74;
    width: 300px;
}

h2#addexp{
    position: fixed;
    left: 720px;
    top: 320px;
    text-align: center;
    color: white;
    z-index: 2;
    color: white;
    background-color: #1c4c74;
    width: 300px;
}

h2#allreimb {
    position: fixed;
    left: 720px;
    top: 580px;
    text-align: center;
    color: black;
    z-index: 3;
    color: white;
    background-color: #1c4c74;
    border: 2px solid #5cace4;
    padding: 10px;
    border-radius: 8px;
}

div.createexpform{
  width: 900px;
  height: 400px;
  text-align: left;
  position: fixed;
  left: 620px;
  top: 150px;
}

h4#cancel {
  position: fixed;
  left: 1450px;
  top: 60px;
  text-align: center;
  font-size: 12px;
  z-index: 3;
  color: white;
  background-color: #1c4c74;
  border: 2px solid #5cace4;
  padding: 10px;
  border-radius: 4px;
}

p.createexpform{
  color: #1c4c74;
  height: 60px;
  border-bottom: 1px solid #5cace4;
  line-height: 60px;
}

p.createexpform2{
  color: #1c4c74;
  height: 80px;
  border-bottom: 1px solid #5cace4;
  line-height: 30px;
}

p.createexpform3{
  color: #1c4c74;
  height: 120px;
  border-bottom: 1px solid #5cace4;
  line-height: 20px;
}

p.createexpform4{
  color: #1c4c74;
  height: 110px;
  line-height: 20px;
}

p#bottomfour {
  border-bottom: 1px solid #5cace4;
}

#note {
  font-size: 12px;
  color: black;
}

#reimburse {
  color: red;
  font-size: 17px;
}

div.allreimbtable {
  margin: auto;
  width: 50%;
  border: 1px solid black;
  padding: 10px;

}

.sidebartable tr { 
  line-height: 40px;
  color: white;
}

.sidebartable td {
  text-align: center
}

 table.sidebartable{ 
  padding-top: 10px;
  padding-bottom: 20px;
  border-collapse: collapse;
}

div.stats {
  position: fixed;
  width: 600px;
}

img#pulsar {
  border-radius: 30px;
  position: fixed;
  left: 750px;
  top: 150px;
}

.stattable tr { 
  line-height: 60px;
  color: #1c4c74;
  border-bottom: 1pt solid #1c4c74;
}

table.stattable{ 
  position: fixed;
  border-collapse: collapse;
  left: 40px;
  top: 170px;
  padding-top: 10px;
  padding-bottom: 20px;
  width: 650px;
}

.allreimbtable tr { 
  line-height: 30px;
  color: #1c4c74;
}

#projectform {
  height:530px;
  overflow-y:auto;
}

p.requiretitle {
  color: black;
  height: 60px;
  line-height: 60px;
  font-size: 20px;
}

tr#subnote { 
  border-bottom: 1pt solid black;
}

a:visited, a:active{
  color: white;
}

.loginform {
  margin: 50px auto;
  width: 300px;
  padding: 30px 25px;
  background: white;
}
h1.login-title {
  color: #666;
  margin: 0px auto 25px;
  font-size: 25px;
  font-weight: 300;
  text-align: center;
}
.login-input {
  font-size: 15px;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 25px;
  height: 25px;
  width: calc(100% - 23px);
}
.login-input:focus {
  border-color:#6e8095;
  outline: none;
}
.login-button {
  color: #fff;
  background: #55a1ff;
  border: 0;
  outline: 0;
  width: 100%;
  height: 50px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}
.loginlink {
  color: #666;
  font-size: 15px;
  text-align: center;
  margin-bottom: 0px;
}
.loginlink a {
  color: #666;
}

h4#users {
  position: fixed;
  left: 1385px;
  top: 60px;
  text-align: center;
  font-size: 12px;
  z-index: 3;
  color: white;
  background-color: #1c4c74;
  border: 2px solid #5cace4;
  padding: 10px;
  border-radius: 4px;
}

.dropdown {
  position: relative;
  display: inline-block;
  color: red;
  z-index: 10;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  word-wrap: break-word;
  min-width: 160px;
  max-width: 800px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 13;
}

.dropdown:hover .dropdown-content {
  display: block;
}